<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% var totalFee=0; %>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1># <%= order.user.name %></h1>
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li><%= product.product.title %> (<%= product.quantity %>)</li>
                                    <% totalFee+=product.product.price %>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
                <h1> total fee is <%=$ totalFee %></h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>